/* Desktop */

.desktop-container {
  display: flex;
  height: 100vh;

}
.category-sidebar-p {
  display:  flex;
  flex-direction: column;

}
.category-sidebar {
  /* background: #000; */
   padding: 2px;
   gap: 3px;
   width: 100%;
  display:  flex;
  flex-direction: column  ;
}
.chat-sidebar {
  margin: 20px 0;              /* tránh khoảng thừa do margin mặc định */
  padding: 8px 0;

}
.chat-header-left img {
  width: 50px;
  border-radius: 50%;

}
.chat-header-left .chat-header-right {
padding: 20px; 
margin: 20px;
}
aside.header-profile {
/* background: red; */
padding: 20px;
}
.header-profile {
  width: 100px;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;

}
.header-profile .chat-profile-header {
  
  flex: 1;               /* quan trọng: ép chiếm hết không gian theo trục column của aside */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 

  width: 100%;
  margin: 20;             /* tránh khoảng thừa do margin mặc định */
  padding: 8px 0;
}
.sidebar {
  width: 250px;
  border-right: 1px solid #ddd;
}

.main-content {
  flex-grow: 1;
}